/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* NAV STYLES */

 .navbar-container {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-content: center;
 }

 .left-nav {
    display: flex;
 }

 .right-nav{
    display: flex;
 }

 .nav-button {
    height: 55%;
    align-self: center;
    margin: 10px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
 }

 button.login-button {
     border: 1px gray solid;
     background-color: transparent;
 }

 button.signup-button {
    border: 1px #f50 solid;
    background-color: #f50;
 }

 div .profile-button {
    align-self: center;
    font-size: 16px;
    margin-top: 16px;
    text-decoration: none;
    color: rgb(197, 197, 197);
 }

 div .profile-button:hover {
   color: white;
 }

 .logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-top: 6px;
    background-color: #f50;
    padding-right: 7px;
 }

 .logo i {
    padding: 0 7px 0 7px;
 }

 /* SPLASH STYLES */

 .splash-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("splash1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 450px;
   width: 85%;
   margin-left: 7.25%;
   border-top: 4px solid #f50;
 }

 .full-splash {
   width: 150%;
   display: flex;
   justify-content: space-around;
   padding-top: 15px;
 }

 button.splash-button {
    margin: 5px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    height: 30px;
 }

 .fa-mixcloud {
    font-size: 40px;
    padding-right: 10px;
    color: white;
 }

 .splash-name {
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 20px;
    color: white;
 }

 .splash-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Tahoma, sans-serif;
 }

 .splash-info h2 {
    font-size: 36px;
 }

 .splash-info p {
    font-size: 18px;
    line-height: 25px;
 }

 .right-splash a {
    color: lightgray;
    text-decoration: none;
    margin-left: 3px;
 }

 .splash-offer {
    width: 33%;
    height: 46px;
    border: 1px #f50 solid;
    background-color: #f50;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    align-self: center;
 }

 /* MODAL STYLES */

  .session-form-container {
   display: flex;
   justify-content: center;
 }

 .session-form-box {
   outline: 1px solid white;
   border-color: white;
   border-radius: 2px;
   height: auto;
   width: 425px;
   padding: 20px;
   background: rgb(255, 255, 255);
   position: relative;
 }

 .session-form {
   display: flex;
   flex-direction: column;
   text-align: center;
 }

 .session-form input {
    height: 34px;
    border-radius: 4px;
    border: 1px rgb(143, 141, 141) solid;
 }

 .session-form input::placeholder {
    color: rgb(141, 140, 140);
    padding-left: 5px;
    font-size: 18px;
 }

 .session-form input.session-submit {
    background-color: #f50;
    color: white;
    border: 2px #f50 solid;
 }

 .session-form h2 {
    align-self: center;
    font-size: 26px;
    margin-bottom: 15px;
    color: #f50;
 }

 .modal-background {
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   background: rgba(231, 231, 231, 0.85);
   z-index: 50;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation-name: modal-slide-down;
   animation-duration: 0.7s;
 }

 .close-session-form {
   cursor: pointer;
   position: absolute;
   top: 11px;
   right: 20px;
   z-index: 100;
   font-size: 22px;
   font-family: Verdana, Tahoma, sans-serif;
   color: rgb(98, 96, 96);
 }

 .session-form ul li {
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
 }

 .demo-login {
    width: 60%;
    align-self: center;
    border-radius: 4px;
    background-color: white;
    border: 1px white solid;
    color: #f50;
    text-decoration: underline;
 }

 .session-form-box p {
   font-size: 12px;
   color: rgb(143, 142, 142);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 17px;
 }

 .session-form-box a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
 }

 #help {
    align-self: flex-end;
    
 }

  
@keyframes modal-slide-down {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 52%;
    bottom: 10%;
  }
}