/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-container {
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-content: center;
 }

 .left-nav {
    display: flex;
 }

 .right-nav{
    display: flex;
 }

 .nav-button {
    height: 60%;
    align-self: center;
    margin: 5px;
    border-radius: 5px;
    color: white;
 }

 .login-button {
     background-color: #333;
 }
 .signup-button {
    border: 1px #f50 solid;
 }

 .logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-top: 5px;
 }

 .logo i {
    color: #f50;
 }

 .signup-button {
    background-color: #f50;
 }
