 .edit-form-box {
  display: flex;
  flex-direction: column;
  width: 800px;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: white;
 }

 .edit-song-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 25px;
 }
 
 .edit-form label {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 8px;
 }

 .edit-form input, .edit-form select {
  margin-bottom: 20px;
  border-radius: 4px;
  border: .5px solid #ccc;
 }

 .edit-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
 }

 @keyframes modal-slide-down {
  from {
    top: -100%;
    bottom: -100%;
  }
  to {
    top: 50%;
    bottom: 0%;
  }
}

.edit-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 1px solid #f2f2f2;
}

.edit-bottom p {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}