.full-navbar-container {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 45px;
   background-color: #333;
   position: fixed;
}

 .navbar-container {
    width: 65%;
    height: 45px;
    position: fixed;
    z-index: 200;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: Verdana, Tahoma, sans-serif;
 }

 .left-nav {
    display: flex;
 }

 .middle-nav {
    display: flex;
    height: 60%;
    width: 410px;
    align-self: center;
 }

 .right-nav{
    display: flex;
 }

 .nav-button {
    height: 55%;
    align-self: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    text-decoration: none;
 }

 button.login-button {
     border: 1px gray solid;
     background-color: transparent;
     padding: 0 15px 0 15px;
 }

 button.signup-button {
    border: 1px #f50 solid;
    background-color: #f50;
 }

 div .links {
    align-self: center;
    font-size: 13px;
    padding-top: 10px;
    color: rgb(197, 197, 197);
 }

 div .links:hover {
   color: white;
 }

 .logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    background: rgb(255,85,0);
    background: linear-gradient(0deg, rgba(255,85,0,1) 0%, rgba(255,117,0,1) 100%);
 }

 .logo i {
    padding: 3px 10px 0 10px;
 }

 div a.clicked {
    background-color: rgb(27, 27, 27);
    border-radius: 0;
    border-top: 5px solid rgb(27, 27, 27);
    border-bottom: 5px solid rgb(27, 27, 27);
    color: white;
 }

 .left-nav-links {
    padding: 15px 30px 0px 30px;
    border-right: 1px solid black;
    color: rgb(197, 197, 197);
    font-size: 13px;
    text-decoration: none;
 }

 i.fas {
    font-size: 16px;
    padding-left: 15px;
 }

 div.right-nav .upgrade-link {
   color: #f50;
 }

 div.right-nav .upgrade-link:hover {
   color: rgb(255,117,0);
 }

 .middle-nav input {
   border-radius: 4px;
   border: 0px;
   font-size: 14px;
   width: 120%;
 }

 .fa-search {
   position: relative;
   right: 35px;
   top: 5px;
   color: gray;
 }
