.splash-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("splash1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 450px;
   width: 100%;
   border-top: 4px solid #f50;
 }

 .full-splash {
   width: 150%;
   display: flex;
   justify-content: space-around;
   padding-top: 15px;
 }

 button.splash-button {
    margin: 5px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    height: 30px;
    padding: 0 15px 0 15px;
 }

 .fa-mixcloud {
    font-size: 40px;
    padding-right: 10px;
    color: white;
 }

 .splash-name {
    font-size: 16px;
    padding-bottom: 20px;
    color: white;
 }

 .splash-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
    margin-top: 100px;
 }

 .splash-info h2 {
    font-size: 36px;
 }

 .splash-info p {
    font-size: 18px;
    line-height: 25px;
 }

 .right-splash a {
    color: lightgray;
    text-decoration: none;
    margin-left: 3px;
 }

 .splash-offer {
    width: 33%;
    height: 46px;
    border: 1px #f50 solid;
    background-color: #f50;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    align-self: center;
 }

 .logout-button {
    background: transparent;
 }

 .trending {
    display: flex;
    justify-content: center;
 }

 .trending h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 40px;
 }

 .splash-songs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .splash-song {
    padding-bottom: 15px;
    width: 15%;
    height: 250px;
    position: relative;
 }

 .song-photo {
    height: 75%;
    width: 100%;
    margin-bottom: 10px;
 }

 .splash-song p {
    font-size: 15px;
 }

 .splash-song p:last-child {
    font-size: 12px;
    color: #999;
    margin-top: 7px;
 }

 .splash-play-btn {
    color: #f50;
    display: none;
    font-size: 60px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 }

 .splash-song:hover .splash-play-btn {
    display: block;
    cursor: pointer;
 }

 .second-splash-image {
   background-image: url("splash2.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 800px;
   width: 101%;
 }

 .splash-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .top-foot {
    width: 95%;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #f2f2f2;;
 }

 .top-foot h1 {
   font-size: 36px;
 }

 .top-foot h2 {
   font-size: 24px;
   margin-top: 15px;
 }

.footer-sign-up {
   border: 1px #f50 solid;
   background-color: #f50;
   border-radius: 4px;
   color: white;
   font-size: 18px;
   text-align: center;
   height: 46px;
   padding: 11px 23px 15px 23px;
   min-width: 200px;
   margin-top: 25px;
   margin-bottom: 25px;
}

.foot-session {
   display: flex;
   justify-content: center;
   align-items: center;
}

.foot-session p {
   font-size: 12px;
   margin: 5px 0 10px;
}

.foot-session button {
   margin-left: 10px;
   vertical-align: middle;
   font-size: 16px;
   line-height: 18px;
   padding: 10px 15px;
   height: 40px;
   border: 1px solid #e5e5e5;
   border-radius: 3px;
   background-color: transparent;
}

.bottom-foot {
   display: flex;
   flex-direction: column;
   width: 95%;
   margin-top: 20px;
   align-items: flex-start;
   padding-bottom: 80px;
}

.bottom-foot p {
   color: #ccc;
   font-size: 14px;
   margin-bottom: 20px;
}

.splash-search {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 30px;
}

.splash-search input {
   height: 46px;
   background: #f2f2f2;
   padding-left: 16px;
   border: 0;
   border-radius: 3px;
   width: 40%;
}

i.magnify {
   font-size: 20px;
   padding: 0;
   top: 0;
}

.splash-search button {
   margin-left: 15px;
}