.splash-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 450px;
   width: 65%;
   border-top: 4px solid #f50;
 }

 .full-splash {
   width: 150%;
   display: flex;
   justify-content: space-around;
   padding-top: 15px;
 }

 button.splash-button {
    margin: 5px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    height: 30px;
    padding: 0 15px 0 15px;
 }

 .fa-mixcloud {
    font-size: 40px;
    padding-right: 10px;
    color: white;
 }

 .splash-name {
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-bottom: 20px;
    color: white;
 }

 .splash-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Tahoma, sans-serif;
 }

 .splash-info h2 {
    font-size: 36px;
 }

 .splash-info p {
    font-size: 18px;
    line-height: 25px;
 }

 .right-splash a {
    color: lightgray;
    text-decoration: none;
    margin-left: 3px;
 }

 .splash-offer {
    width: 33%;
    height: 46px;
    border: 1px #f50 solid;
    background-color: #f50;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    align-self: center;
 }

 .logout-button {
    background: transparent;
 }

 .splash-songs {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .splash-song {
    padding-bottom: 15px;
 }

 .song-photo {
    height: 170px;
    width: 170px;
 }