.upload-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#drop-zone {
    display: flex;
    flex-direction: column;
    width:  800px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    margin-top: 155px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    justify-content: center;
}

#file {
    display: none;
}

.upload-input {
    height: 40px;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
 .drop-box p {
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #drop-zone > p {
     font-size: 12px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: relative;
     top: 115px;
 }

 #drop-zone a {
     text-decoration: none;
     color: #38d;
 }

 .upload-links {
     display: flex;
     justify-content: start;
     align-content: flex-start;
     position: relative;
     top: 50px;
     border-bottom: 1px solid #d1d1d1;
 }

 .upload-links a {
     text-decoration: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 13px;
     color: black;
     padding: 15px 12px 15px 12px;
 }
 .upload-links a:hover {
     border-bottom: 1px solid black;
 }

  .upload-links a:active {
     border-bottom: 1px solid #f50;
     color: #f50;
 }

 .upload-footer {
     display: flex;
     flex-direction: column;
     margin-top: 25px;
     margin-left: 240px;
 }

 .upload-footer p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
 }

  .upload-footer span {
      border-bottom: 1px solid #f2f2f2;
      width: 77%;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  #last-foot {
      margin-bottom: 85px;
  }

  .upload-clicked {
      border-bottom: 1px solid #f50;
      color: #f50;
  }

  .options-upload-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 235px;
    width: 800px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    border: 1px solid #f2f2f2;
    overflow-x: hidden;
    border-radius: 3px;
  }

  .upload-options {
    display: flex;
    flex-direction: column;
  }

  .full-song-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .song-image-container {
    display: flex;
    margin-left: 10px;
  }

  .song-options {
    display: flex;
    flex-direction: column;
  }

  .song-options input, .song-options select, .song-options textarea {
      border-radius: 4px;
      border: 1px rgb(187, 186, 186) solid;
      margin-bottom: 25px;
      margin-right: 18px;
  }

  .song-options select {
      width: 50%;
      background-color: white;
  }

  .song-options input::placeholder, .song-options textarea::placeholder {
    color: rgb(141, 140, 140);
    padding-left: 5px;
    font-size: 13px;
 }

 .song-options label {
     margin-bottom: 10px;
     font-size: 12px;
 }

 .song-options label:first-child {
     margin-top: 25px;
 }

 .required {
     color: #f50;
 }

  .upload-bottom {
      display: flex;
      justify-content: space-between;
      align-content: center;
      text-align: center;
      border-top: 1px solid #f2f2f2;
      height: 70px;
  }

  .upload-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 15px;
  }

  .upload-buttons button {
      border: 0px;
      margin-right: 10px;
      font-size: 13px;
      height: 26px;
      padding: 2px 11px 2px 10px;
      line-height: 20px;
  }

  .upload-buttons button:first-child {
      background-color: transparent;
  }

  .upload-buttons button:last-child {
      background-color: #f50;
      border-radius: 4px;
      color: white;
  }

  .upload-bottom p {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 30px;
  }

  #progress-bar {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  #blue-bar {
    border-bottom: 5px solid #06c;
    width: 50%;
  }

  #orange-bar {
    border-bottom: 5px solid #f50;
    width: 50%;
  }
