.upload-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#drop-zone {
    display: flex;
    flex-direction: column;
    width:  800px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    margin-top: 155px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    justify-content: center;
}

#file {
    display: none;
}

.upload-input {
    height: 40px;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
 .drop-box p {
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #drop-zone > p {
     font-size: 12px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: relative;
     top: 115px;
 }

 #drop-zone a {
     text-decoration: none;
     color: #38d;
 }

 .upload-links {
     display: flex;
     justify-content: start;
     align-content: flex-start;
     position: relative;
     top: 50px;
     border-bottom: 1px solid #d1d1d1;
 }

 .upload-links a {
     text-decoration: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 13px;
     color: black;
     padding: 15px 12px 15px 12px;
 }
 .upload-links a:hover {
     border-bottom: 1px solid black;
 }

  .upload-links a:active {
     border-bottom: 1px solid #f50;
     color: #f50;
 }

 .upload-footer {
     display: flex;
     flex-direction: column;
     margin-top: 25px;
     margin-left: 235px;
 }

 .upload-footer p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
 }

  .upload-footer span {
      border-bottom: 1px solid #f2f2f2;
      width: 77%;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  #last-foot {
      margin-bottom: 85px;
  }

  .upload-clicked {
      border-bottom: 1px solid #f50;
      color: #f50;
  }